# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / 개인 환경
*.log
*.tmp
*.ini
*.dat
*.mp4
*.zip
*.ai
*.hwpx
*.hwp
desktop.ini
Thumbs.db

# IDE / Editor
.vscode/
.idea/
.bash_history
.cache/
.config/
.dotnet/
.idlerc/
.lesshst
.matplotlib/

# User folders (Windows)
/Documents/
/Downloads/
/Music/
/Pictures/
/Videos/
/OneDrive/
/Saved Games/
/Searches/
/Contacts/
